<h1><%=@genre.name%></h1>
<h3><%=@genre.description%></h3>
<h3><%=@genre.mood%></h3>

<p>
	<% @artists.each do |artist| %>
		<p> <%= artist.name %> | <a href= "/genres/<%=@genre.id%>/artists/<%=artist.id%>/edit">edit </a></p>
		<br>
	<% end %>


</p>



<a href = "/genres/<%=@genre.id%>/artists/new">add a new artist</a>

<%= link_to "edit", edit_genre_path(@genre) %>
<%= link_to "back", genres_path %>
