<h1><%=@genre.name%></h1>
<h3><%=@genre.description%></h3>
<h3><%=@genre.mood%></h3>

<p>
	<% @artists.each do |artist| %>
		<p><%= link_to artist.name, genre_artist_path(@genre, artist) %> | <%= link_to "edit", edit_genre_artist_path(@genre, artist)%> | <%= link_to 'Destroy', genre_artist_path(@genre, artist), method: :delete, data: { confirm: 'Are you sure?' } %> </p>
		<br>
	<% end %>


</p>



<a href = "/genres/<%=@genre.id%>/artists/new">add a new artist</a>

<%= link_to "edit", edit_genre_path(@genre) %>
<%= link_to "back", genres_path %>
