<h1><%=@genre.name%></h1>
<h3>description: <%=@genre.description%></h3>
<h3>mood: <%=@genre.mood%></h3>
<br>

<p>
	<% @artists.each do |artist| %>
		<p><%= link_to artist.name, genre_artist_path(@genre, artist) %> | <%= link_to "edit", edit_genre_artist_path(@genre, artist)%> | <%= link_to 'Destroy', genre_artist_path(@genre, artist), method: :delete, data: { confirm: 'Are you sure?' } %> </p>
	<% end %>


</p>


<br>
<%= link_to "add new artist to genre", new_genre_artist_path(@genre)%>
<br>
<%= link_to "edit", edit_genre_path(@genre) %>
<br>
<%= link_to "back", genres_path %>
