<h1><%= @artist.name %></h1>
<h2>bio: <%= @artist.bio %></h2>

<h2>genre: <%= @genre.name %></h2>
<div class = "text-center">
<br>
<%= link_to "edit", edit_genre_artist_path(@genre, @artist) %>
<br>
<%= link_to "all artists", genre_artists_path %>
<br>
<%= link_to 'destroy', genre_artist_path(@genre, @artist), method: :delete, data: { confirm: 'Are you sure?' } %> </p>

</div>